.btn-primary {
	background-color: #3D82F8 !important;
}
.nav-link:hover {
    color: #E5443F !important;
}
.section-title .title-text h2:before{
	background: #F9B923 !important;
}
.event-schedule-area-two ul.custom-tab li a.active{
	color: #3D82F8 !important;
}
.event-schedule-area-two ul.custom-tab li a:before{
	background: #2EA94F !important;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a{
	color: #3D82F8 !important;
}
.event-schedule-area-two .tab-content .table thead{
	background: #3D82F8 !important;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a{
	color: #2EA94F !important;
}
.whos-speaking-area-two .speakers .img-overlay{
	background: rgb(229,68,63, 0.3) !important;
}
.whos-speaking-area-two .speakers .name a:hover{
	color: white !important;
}
.footer-area .copyright em i.fa{
	color: #E5443F !important;
}
.footer-area .copyright a:hover{
	color: #2EA94F !important;
}
.base-style-2 .navbar-nav .nav-link{
	color: #3D82F8 !important;
}
header{
	background: white !important;
}
@media screen and (max-width: 768px){
	.header .navbar-toggler-icon{
		background: #3D82F8 !important;
	}
}
.base-style-2 .navbar-nav .nav-link {
	background: white;
}